---
import styles from "./Footer.module.scss";

const year = new Date().getFullYear();
---

<footer class={styles.footer}>
  <div class={styles.inner}>
    <div class={styles.brand}>PL.</div>
    <div class={styles.copy}>©{year}</div>
  </div>
</footer>
