---
import s from "./ProgressiveBlurTop.module.scss";
---

<div aria-hidden="true" class={s.container}>
  <div class={s.wrapper}>
    <div class={`${s.layer} ${s.l1}`}></div>
    <div class={`${s.layer} ${s.l2}`}></div>
    <div class={`${s.layer} ${s.l3}`}></div>
    <div class={`${s.layer} ${s.l4}`}></div>
    <div class={`${s.layer} ${s.l5}`}></div>
    <div class={`${s.layer} ${s.l6}`}></div>
    <div class={`${s.layer} ${s.l7}`}></div>
    <div class={`${s.layer} ${s.l8}`}></div>
  </div>
</div>
